*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    width: 97%;
    margin: 08px auto;

    
    background-color:beige;
    display: flex;
    justify-content:space-between ;
    padding: 0px 30px ;
    align-items:center ;
    box-shadow: 2px 2px #ceadad;
;
    
    
    


}
header img {
    width: 50px;
    


}





.navlinks{
    display: flex;
    gap: 30px;
    

    }
    .navlinks li{
        list-style: none;
    }
    .navlinks li a {
        text-decoration: none;
        color: black;
        
    }
    header button {
        border:none ;
        outline: none;
        background-color: transparent;
        background-color: rgb(182, 32, 32);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid rgb(63, 4, 4);
        cursor: pointer;
        
    

    }
    button:active{
        background-color: rgb(238, 14, 119);
    }
    















 



    






